body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: rgb(83, 83, 83);
}



.main{
background-color: rgb(71, 57, 57);
padding: 5px;


}

#digits{
    width: fit-content;
}
button{
margin: -1px;
padding: -1px;
}
